.circular-image {
    width: 20rem;
    height: 20rem;
    border: 0.2rem solid silver;
    border-radius: 50%;
    box-shadow: 0 0 4rem #5b5bc6;
    object-fit: cover;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Hover effect */
.circular-image:hover {
    transform: scale(1.05);
    box-shadow: 0 0 5rem rgba(128, 0, 128, 1);
}
