.circular-image {
    width: 20rem;
    height: 20rem;
    border: 5px solid silver;
    border-radius: 50%;
    box-shadow: 0 8px 15px rgba(128, 0, 128, 0.6);
    object-fit: cover;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Hover effect */
.circular-image:hover {
    transform: scale(1.05);
    box-shadow: 0 12px 20px rgba(128, 0, 128, 0.8);
}
