button.linkedin-btn {
    background-color: #0077B5;
    color: white;
}

button.linkedin-btn:hover {
    background-color: #7d7de4;
    color: white;
}

button.github-btn {
    background-color: #2b3137;
    color: white;
}

button.github-btn:hover {
    background-color: #7d7de4;
    color: white;
}

.section-body {
    background-color: rgba(91, 91, 168, 0.3);
    padding: 2rem;
    border-radius: 1rem;
}
